.hello-wrap {
    border: 1px solid black;

    &-content {
        color: green;
        font-weight: 600;
        font-size: 20px;
    }

    button {
        outline: none;
        border: none;
        padding : 8px;
        background-color: skyblue;
        font-size: 15px;
        cursor: pointer;
    }

}